/* CSS Document */
*{margin:0px;padding:0px;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;height:0px;line-height:0px;font-size:0px;overflow:hidden;}
ul,ol,li{list-style:none;}
a{color: #333; text-decoration: none;}
a:hover {color: #fd0202;}
img{border:0px;vertical-align:middle;}
body{font-size:12px;font-family:Arial,Verdana,"微软雅黑","宋体";}
.sec{width:1000px;margin-left:auto;margin-right:auto;}
.sec_big{min-width:1000px;margin-left:auto;margin-right:auto;}
input{outline:none;}
.bs{ box-shadow:0px 1px 5px rgba(0,0,0,0.2);}
.hide{ display:none;}
.hide{ display:none}
.ml5{margin-left:5px}
.mr5{margin-right:5px}
.mt5{margin-top:5px}
.mb5{margin-bottom:5px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.mt10{margin-top:10px}
.mb10{margin-bottom:10px}
.ml15{margin-left:15px}
.mr15{margin-right:15px}
.mt15{margin-top:15px}
.mb15{margin-bottom:15px}
.ml20{margin-left:20px}
.mr20{margin-right:20px}
.mt20{margin-top:20px}
.mb20{margin-bottom:20px}
.ml25{margin-left:25px}
.mr25{margin-right:25px}
.mt25{margin-top:25px}
.mb25{margin-bottom:25px}
.ml30{margin-left:30px}
.mr30{margin-right:30px}
.mt30{margin-top:30px}
.mb30{margin-bottom:30px}
.pt30{padding-top:30px;}
.space{	display:inline-block;width:20px;height:20px;}
.c999{color: #999;}
.c333{color: #333;}
.red{color:#F00;}