/* CSS Document */
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

input{outline:none;}
.sec{width:1100px; margin-left:auto; margin-right:auto; overflow:hidden;}
.sec_big{min-width:1100px; margin-left:auto; margin-right:auto;}
.tops{height:30px;}
.tops i{color:#F80;}
.weizhi{color:#C00;}
.tops a{display:inline-block; height:30px; line-height:30px; text-align:left;}
.tops span{display:inline-block; height:30px; line-height:30px;}
.tops_guang{height:68px; text-align:center; background:#ff7904;}
.top_logo{height:76px;}

.search{border:3px #079b49 solid;margin-left:120px;border-radius:2px;}
.form_i{display:inline-block; height:40px; width:25px; line-height:38px; font-size:20px; background:#079b49; color:#fff; padding-left:5px;}
.form_o{ font-size:10px;}
.search span{display:inline-block; width:80px; height:38px; line-height:38px; background:#f3f2f2; color:#333; text-align:center;}
.header_text{width:240px;height:38px;line-height:38px;border:1px #079b49 solid;padding-left:10px;padding-right:10px;color:#666;}
.header_bu{width:60px;height:40px;background:#079b49; outline:none; cursor:pointer; border:none; color:#fff; font-size:18px; text-align:center;}
.header_de{margin-left:120px;}
.header_de span{font-weight:bold; color:#333; font-size:12px;}
.header_de a{ color:#666; margin-left:10px;}
.header_de .actives{ color:#f60;}

.nav_big{background:#079b49;}
.nav{height:50px; background:#079b49;}
.nav li{width:100px; height:50px; position:relative; overflow:hidden;}
.nav li a{display:inline-block; height:50px; width:100px; line-height:50px; color:#FFF; font-size:18px; text-align:center;}
.nav li a:hover{font-size:20px; transition:all 0.2s}
.nav li a:hover span{top:0px;}
.nav li span{display:inline-block; width:100px; height:50px; position:absolute; left:0px; top:50px; background:rgba(255,255,255,0.4); transition:all 0.2s;}
.flexslider{width:1096px; position:absolute; border:none;}
.flexslider .slides img{margin-left:4px; width:1096px; height:455px;}
.banner_down{margin-top:-4px;}
.flex-control-nav{position:relative; bottom:30px; right:0px; z-index:10;}
.flex-control-paging li a.flex-active{background:#f60; }
.flex-nav-prev{ display:none;}
.flex-nav-next{ display:none;}
.banner_up{height:459px;}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav{margin-left:-2px;}
.banner_ul ul{ width:1100px; height:240px;}
.banner_ul ul li{width:366px; height:240px;}
.banner_ul ul li p{height:40px; text-align:center; font-size:18px; line-height:40px; background:linear-gradient(left , rgb(15, 147, 3) , rgb(4, 211, 4) 49% , rgb(17, 133, 0) 100%);
background: -o-linear-gradient(left , rgb(15, 147, 3) , rgb(4, 211, 4) 49% , rgb(17, 133, 0) 100%);
background: -ms-linear-gradient(left , rgb(15, 147, 3) , rgb(4, 211, 4) 49% , rgb(17, 133, 0) 100%);
background: -moz-linear-gradient(left , rgb(15, 147, 3) , rgb(4, 211, 4) 49% , rgb(17, 133, 0) 100%);
background: -webkit-linear-gradient(left , rgb(15, 147, 3) , rgb(4, 211, 4) 49% , rgb(17, 133, 0) 100%);
 color:#fff;}
.banner_ul ul li img{height:200px; width:366px;}

/*中间内容*/
.main{ background:#f0f1f1; padding-bottom:80px;}
/*导航*/
.main .main_area{ padding:15px; font-size:16px;}
.main .main_area a{ display:block; color:#a3a0a0; float:left;}
/*景点分类*/
.main .main_sort{ background:#FFF; border:#ccc 1px solid;}
.main .sort_level{ border-bottom:#ddd 1px solid;  height:50px; line-height:45px;}
.main .main_sort ul{ color:#a4a3a3; font-size:16px; padding-left:15px;}
.main .main_sort ul li{ float:left;}
.main .main_sort ul li a{ display:inline-block; padding:0px 10px; color:#a4a3a3;}
.main .main_sort ul li a:hover{ background:#ff8800; color:#fff; transition:all 0.2s;}
.main .main_sort .then{ margin-left:-20px;}
.main .main_sort .then li{ margin-left:20px;}
.main .main_sort .then .T_checked{ color:#333;}
.main .main_sort .end{ margin-left:-20px;}
.main .main_sort .end li{ margin-left:20px;}
.main .main_sort .end .end_bor{ border:#CCC 1px solid; height:44px; line-height:44px;}
.main .main_sort .end .away>a{ font-size:12px; color:#333;}
.main .main_sort .end .away>a:hover{ background:#FFF; height:46px; line-height:46px;}
.main .main_sort .more a{ color:#a4a3a3; font-size:14px;}
.main .main_sort .more span{margin-right:8px;}
.main .main_sort .more .mchice{ border: 1px #ccc solid; padding: 5px;}
.main .main_sort .check{ font-size:14px; display:none; padding-right:15px;}
.main .main_sort .check input{ padding:5px; margin-right:5px;}
/*景点详情*/
.main .main_details{ background:#FFF; border:#ccc 1px solid; margin-top:20px; width:810px;}
.main .main_details:hover{ border:1px solid #ff8706;}
.main .main_details>.detail_img{ width:180px;}
.main .main_details>.detail_img>img{ padding-left:10px; padding-top:10px;}
.main .main_details>.detail_img>p{ text-align:center; padding-top:20px; padding-bottom:25px; font-size:14px;}
.main .main_details>.detail_img>p>span{color:#ff8800}
.main .main_details>.detail_text{ width:420px; margin-left:25px; padding-top:12px;}
.main .main_details>.detail_text ul{ margin-top:-5px;}
.main .main_details>.detail_text ul li{ font-size:14px; color:#181818; width:420px; height:23px; line-height:23px; overflow:hidden;}
.main .main_details>.detail_text ul li h2{ color:#4fa723; font-size:22px;}
.main .main_details>.detail_text ul li h2 span{ padding-left:15px; color:#ff8800; font-size:22px;}
.main .main_details>.detail_money{ width:140px;}
.main .main_details>.detail_money>h3{ color:#fe8800; font-size:24px; padding-top:60px; padding-bottom:25px; padding-right:40px;} 
.main .main_details>.detail_money>h3>span{ font-size:40px;}
.main .main_details>.detail_lightspot{margin-left:25px; color:#817f7d; font-size:14px; width:570px;}
.main .main_details>.detail_ticket{ max-height:305px; overflow:hidden;}
.main .main_details>.detail_ticket .ticket_nav{ background:#eee; padding:3px; color:#a3a9a9; font-size:14px;}
.main .main_details>.detail_ticket ul{ margin-left:3px; margin-right:3px; margin-bottom:25px; border-bottom:1px solid #ddd; padding-bottom:5px;}
.main .main_details>.detail_ticket ul:first-child{ border-bottom:none;}
.main .main_details>.detail_ticket ul li{ float:left;}
.main .main_details>.detail_ticket ul .name{ width:310px; padding-left:20px; height:20px; line-height:20px; overflow:hidden;}
.main .main_details>.detail_ticket ul .name a{ color:#4fa723; font-size:14px;}
.main .main_details>.detail_ticket ul .price,.tprice,.handle{ width:120px; padding-left:20px; height:20px; line-height:20px; overflow:hidden;}
.main .main_details>.detail_ticket ul .price p{ color:#a3a4a3; font-size:14px;}
.main .main_details>.detail_ticket ul .tprice p{ font-size:16px; color:#ff8800;}
.main .main_details>.detail_ticket ul .tprice p .fan{ background:#ff8800; color:#FFF; font-size:12px; margin-left:2px; border:1px solid #ff8800;}
.main .main_details>.detail_ticket ul .tprice p .zero{ color:#ff8800; font-size:12px; padding-left:2px; border:1px solid #ff8800;}
.main .main_details>.detail_ticket ul .handle p .reserve{ display:inline-block; color:#FFF; background:#fe8800; font-size:16px; padding:0px 10px; height:20px; line-height:20px; border:#ec6c00 1px solid; border-radius:3px;}
.main .main_details>.detail_ticket ul .handle p .add{ display:inline-block; height:16px; line-height:16px; border:#ccc 1px solid; border-radius:3px; margin-left:3px; padding:0px 3px; padding-bottom:-3px; margin-bottom:-3px;}
.main .main_details>.detail_ticket ul .handle p .addcar{ color:#ff6b00;}
.main .main_details .tmore{ color:#4fa723; height:30px; line-height:30px; padding-right:30px;}
.main .main_details .tmore a{ color:#4fa723;}

/*热门景点排行榜*/
.main .main_hot{ width:250px; background:#FFF; border:#ccc 1px solid; margin-top:20px;}
.main .main_hot .hot_nr{ margin:0px 20px;}
.main .main_hot .hot_nr h2{ padding-top:15px; padding-bottom:5px;}
.main .main_hot .hot_nr .view{ position:relative; padding:15px 0px;  border-bottom:#ccc 1px solid; width:210px;}
.main .main_hot .hot_nr .view .view_img img{ width:0px;}
.main .main_hot .hot_nr .view .view_amount{ background:#ff9400; padding:4px 5px; opacity:0.8; position:absolute; color:#FFF; top:15px; left:0px; z-index:10;}
.main .main_hot .hot_nr .view .view_text{ width:185px;}
.main .main_hot .hot_nr .view .view_text .view_nr a{ display:inline-block; height:35px; overflow:hidden;}
.main .main_hot .hot_nr .view .view_text .view_nr a:hover{ color:#ff9600;}
.main .main_hot .hot_nr .view .view_text .view_money{ color:#F00;}
/*中间内容结束*/
.lv_title{height:70px; line-height:70px; font-size:28px; color:#079b49; font-weight:bold;}
.lv_bo{border:1px #ccc solid; background:#fff;}
.lv_ul{width:20%; height:126px; vertical-align:middle;}
.lv_ul{text-align:center;}
.lv_ul_text{width:100%; height:24px; text-align:center; color:#999;}
.lv_ul li a{display:inline-block; width:100%; height:50px;}
.lv_ul li a img{width:80%; height:50px;}
.lv_ul_up{margin-top:35px;}

.jx_title{padding-bottom:20px; background:#fff; border:1px #bbb solid; border-bottom:none; width:1096px;}
.jx_title span{display:inline-block; height:50px; line-height:50px; font-size:28px; text-align:center; color:#079b49; font-weight:bold; border-left:3px #079b49 solid; padding-left:10px;}
.jx_ul li{width:274px; text-align:center;}
#wrap4{background:#fff; border:1px #bbb solid; border-top:none;}
.jx_ul li img{width:80%; height:132px;}
.jx_bu_l{height:22px; width:22px; background:url(../images/change_l.png) no-repeat; cursor:pointer; border:none; margin-top:15px;}
.jx_bu_r{height:22px; width:22px; background:url(../images/change_r.png) no-repeat; cursor:pointer; border:none; margin-top:15px; margin-left:20px; margin-right:20px;}
.jx_ul li p{width:100%; height:30px; line-height:30px; text-align:center; color:#666;}
.jx_ul li p span{font-size:22px; color:#f60; margin-left:20px;}


.footer{ background:#e8e8e8; margin-top:20px;}
.footer ul{ margin-left:-140px;}
.footer ul>li{ float:left; margin-left:140px;}
.footer ul>li>h3{ font-size:18px; font-weight:normal; padding-top:20px; padding-bottom:20px; color#333;}
.footer ul>li>p{ color:#ccc; font-size:12px; margin-bottom:10px;}

.footer_img{ width:850px;}
.footer_img>ul{ text-align:center; margin-left:-15px; margin-top:20px; margin-bottom:5px;}
.footer_img>ul>li{}
.footer_img>ul>li>a{ display:block;}
.footer_img>ul>li>a>img{ float:left; width:105px; height:40px; margin-left:15px; border:#CCC 1px solid;}
.footer_img>.footer_nav{ text-align:center; margin-bottom:15px;}
.footer_img>.footer_nav>a{ color:#666; font-size:12px;}
.footer_img>p{color:#666; font-size:12px; margin-bottom:8px;}
.footer_img>p>b{ color:#333;}
.footer_img>p>a{color:#666; font-size:12px;}
.footer_img>p>a:hover{ color:#F00;}