
.icon-star:before { content: '\e800'; } /* '' */
.icon-plus-circled:before { content: '\e801'; } /* '' */
.icon-tag:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e803'; } /* '' */
.icon-angle-circled-up:before { content: '\e804'; } /* '' */
.icon-angle-circled-down:before { content: '\e805'; } /* '' */
.icon-up-big:before { content: '\e806'; } /* '' */
.icon-right-big:before { content: '\e807'; } /* '' */
.icon-left-big:before { content: '\e808'; } /* '' */
.icon-down-big:before { content: '\e809'; } /* '' */
.icon-up:before { content: '\e80a'; } /* '' */
.icon-down:before { content: '\e80b'; } /* '' */
.icon-right:before { content: '\e80c'; } /* '' */
.icon-left:before { content: '\e80d'; } /* '' */
.icon-up-1:before { content: '\e80e'; } /* '' */
.icon-right-1:before { content: '\e80f'; } /* '' */
.icon-left-1:before { content: '\e810'; } /* '' */
.icon-down-1:before { content: '\e811'; } /* '' */